header {
    background-color:aliceblue;
   
}

.sidebar {
    color:black;
    display: flex;
    justify-content: center;
    padding: 30px;
    align-items: center;
    font-size: larger;
}

nav a{
    margin-left: 180px;
}

.quemsou {
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.p {
    text-align: center;
}
.projeto1 img {
    width: 300px;
    height: 300px;

}
.Meus-projeto {
    display: flex;
    justify-content: center;
}
.Rodape {
    display: flex;
    justify-content: center;
    align-items: center;
}
.Sobre-mim {
text-align: center;
}


